Source: wingpanel-indicator-ayatana
Section: x11
Priority: optional
Maintainer: Cody Garver <cody@elementary.io>
Build-Depends: cmake,
               debhelper (>= 9),
               gobject-introspection,
               libglib2.0-dev,
               libgranite-dev,
               libgtk-3-dev (>= 3.12),
               libvala-0.28-dev,
               libwingpanel-dev,
               valac (>= 0.28)
Standards-Version: 3.9.6
Homepage: https://launchpad.net/wingpanel-indicator-ayatana

Package: wingpanel-indicator-ayatana
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Enhances: wingpanel
Description: WingPanel Ayatana Indicator
 WingPanel Ayatana Indicator

Package: wingpanel-indicator-ayatana-dbg
Architecture: any
Section: debug
Priority: extra
Depends: wingpanel-indicator-ayatana (= ${binary:Version}), ${misc:Depends}
Enhances: wingpanel-indicator-ayatana
Description: WingPanel Ayatana Indicator (debugging symbols)
 WingPanel Ayatana Indicator
 .
 This package contains debugging symbols for wingpanel-indicator-ayatana.
